html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  position: relative;
  overflow-x: hidden;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button:focus,
input:focus {
  outline: transparent;
}

body{
  color: #f2f2f2;
  @include BPGB;
  font-size: 23px;
  line-height: 1.2;
}

.container{
  max-width: 1750px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}